# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env*

# Ignorar imágenes temporales de demo/local
# Si deseas commitear imágenes, elimina estas reglas
**/logo.png
**/logo_new.png
**/prod.png
*.png~